{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Valor3D</title>

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>

<body>

    <header>
        <h1>Valor3D</h1>

        <nav>
            <a href="/">Início</a>
            <a href="/dashboard/">Dashboard</a>
        </nav>

    </header>


    <main>

        {% block content %}

        {% endblock %}

    </main>


    <footer>
        <p>Gestão inteligente para impressão 3D.</p>
    </footer>


</body>

</html>