{% extends 'base.html' %}


{% block content %}


<h2>
Dashboard
</h2>


<div class="cards">


    <div class="card">

        <h3>
        Materiais
        </h3>

        <p>
        {{ total_materiais }}
        </p>

    </div>



    <div class="card">

        <h3>
        Impressoras
        </h3>

        <p>
        {{ total_impressoras }}
        </p>

    </div>



    <div class="card">

        <h3>
        Orçamentos
        </h3>

        <p>
        {{ total_orcamentos }}
        </p>

    </div>


</div>


{% endblock %}