{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h1>

    Bem-vindo, {{ user.username|title }}!

</h1>

<p>

    Sistema de gestão inteligente para impressão 3D.

</p>

<a href="{% url 'novo_orcamento' %}"
   class="btn btn-primary">

    Novo orçamento

</a>

{% else %}

<h1>

    Bem-vindo ao Valor3D

</h1>

<p>

    Sistema de gestão inteligente para impressão 3D.

</p>

<p class="text-muted">

    Faça login para acessar seus orçamentos.

</p>

{% endif %}

{% endblock %}