{% extends 'core/base.html' %}


{% block content %}


<h2>
Materiais
</h2>


<a href="{% url 'novo_material' %}">
    Novo material
</a>


<hr>


{% for material in materiais %}


<div>

    <h3>
        {{ material.nome }}
    </h3>

    <p>
        Marca: {{ material.marca }}
    </p>

    <p>
        Tipo: {{ material.tipo }}
    </p>

    <p>
        Peso rolo: {{ material.peso_rolo }}g
    </p>

    <p>
        Valor: R$ {{ material.valor_rolo }}
    </p>

     <a href="{% url 'editar_material' material.id %}">
    Editar
</a>

<br>

<a href="{% url 'excluir_material' material.id %}">
    Excluir
</a>

</div>


<hr>


{% empty %}

<p>
Nenhum material cadastrado.
</p>


{% endfor %}


{% endblock %}