{% extends 'core/base.html' %}


{% block content %}


<h2>
Materiais
</h2>


<a href="/materiais/novo/">
    Novo material
</a>


<hr>


{% for material in materiais %}


<div>

    <h3>
        {{ material.nome }}
    </h3>

    <p>
        Marca: {{ material.marca }}
    </p>

    <p>
        Tipo: {{ material.tipo }}
    </p>

    <p>
        Peso rolo: {{ material.peso_rolo }}g
    </p>

    <p>
        Valor: R$ {{ material.valor_rolo }}
    </p>

</div>


<hr>


{% empty %}

<p>
Nenhum material cadastrado.
</p>


{% endfor %}


{% endblock %}