{% extends 'core/base.html' %}

{% block content %}

<div class="container">

    <div class="page-header">
        <h2>🧱 Materiais</h2>

        <a href="{% url 'novo_material' %}" class="btn btn-primary">
            + Novo material
        </a>
    </div>

    <div class="card">

        {% for material in materiais %}

            <p>
                <strong>{{ material.nome }}</strong> -
                {{ material.tipo }} -
                R$ {{ material.valor }}

                <br>

                <a href="{% url 'editar_material' material.id %}">Editar</a> |
                <a href="{% url 'excluir_material' material.id %}">Excluir</a>
            </p>

            <hr>

        {% empty %}

            <p>Nenhum material cadastrado.</p>

        {% endfor %}

    </div>

</div>

{% endblock %}