{% extends 'base.html' %}

{% block content %}

<h2>Orçamentos</h2>

<a href="{% url 'novo_orcamento' %}">
    Novo orçamento
</a>

<hr>

<table class="table table-striped table-hover">

<tr>
    <th>Peça</th>
    <th>Cliente</th>
    <th>Status</th>
    <th>Material</th>
    <th>Impressora</th>
    <th>Peso (g)</th>
    <th>Tempo (h)</th>
    <th>Qtd</th>
    <th>Custo (R$)</th>
    <th>Venda (R$)</th>
    <th>Ações</th>
</tr>

    {% for o in orcamentos %}

 <tr>
    <td>{{ o.nome_peca }}</td>
    <td>{{ o.cliente }}</td>
    <td>{{ o.get_status_display }}</td>

    <td>{{ o.material.nome }}</td>
    <td>{{ o.impressora.nome }}</td>
    <td>{{ o.peso_peca }}</td>
    <td>{{ o.tempo_impressao_horas }}</td>
    <td>{{ o.quantidade }}</td>

    <td>
        <strong>R$ {{ o.custo_total }}</strong>
    </td>

    <td>
        <strong class="text-success">
            R$ {{ o.preco_com_lucro }}
        </strong>
    </td>

    <td>

    <a href="{% url 'detalhe_orcamento' o.id %}"
       class="btn btn-sm btn-info">
        👁 Detalhes
    </a>

    <a href="{% url 'editar_orcamento' o.id %}"
       class="btn btn-sm btn-primary">
        ✏️ Editar
    </a>

    <a href="{% url 'excluir_orcamento' o.id %}"
       class="btn btn-sm btn-danger">
        🗑 Excluir
    </a>

    </td>
</tr>

    {% empty %}

    <tr>
        <td colspan="9">Nenhum orçamento cadastrado</td>
    </tr>

    {% endfor %}

</table>

{% endblock %}
