{% extends 'base_login.html' %}
{% load static %}

{% block content %}


<div class="valor-login-page">


    <div class="valor-login-card shadow-lg">


        <div class="valor-login-brand">

            <img
                src="{% static 'core/img/logovalor3d/logo_valor3d.png' %}"
                alt="Valor3D"
                class="valor-login-logo">
        
        </div>


        <h3 class="valor-login-title">
            Bem-vindo
        </h3>

        <p class="valor-login-subtitle">
            Faça login para continuar.
        </p>


        <form method="post" class="valor-login-form">
        
            {% csrf_token %}


            <div class="valor-login-field">

                <label>
                    Usuário
                </label>

                {{ form.username }}

            </div>



            <div class="valor-login-field">

                <label>
                    Senha
                </label>

                {{ form.password }}

            </div>



            <button 
            type="submit"
            class="valor-btn-primary w-100">

                Entrar

            </button>


            <div class="valor-login-footer">

                <a href="{% url 'password_reset' %}">
                    Esqueceu sua senha?
                </a>

            </div>


        </form>


    </div>


</div>


{% endblock %}